*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    color: #f4f4f4;
}
/* Style the buttons */
button {
  background-color: #4CAF50; /* Green */
  color: #ffffff; /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect */
button:hover {
  background-color: #3e8e41; /* Darker green */
}

h1{
 letter-spacing: 2px;
 font-size: 2rem;
}
/* Active effect */
button:active {
  background-color: #3e8e41; /* Darker green */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add some space between buttons */
button + button {
  margin-left: 10px;
}
header{
    display: flex;
    background-color: #000000;
  }
  nav{
    background-color: rgb(13, 14, 13);
    width: 100%;
    height: 100hv;
    color: rgb(226, 231, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5.2px 5.2px 25.3px 5.2px white;
  }
  .logo{
    display: flex;
    margin-left: -145px;
  }
  .logo p{
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: white;
    padding-top: 14%;
    padding-left: 9%;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .logo img{
    width: 110px;
    height: 110px;
  }
  .menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
  }
  .menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
  }
  
  .menu a:hover::before{
    width:90%;
  }
  .menu a:hover{
    color: rgb(186, 199, 75);
  }
  main{
    margin: 100px 100px 100px;
  }
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.service-box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 30px;
    width: 40%;
    color: black;
    font-size: 1.5rem;
    box-shadow: 0 2px 5px whitesmoke;
    margin-bottom: 20px;
}

.service-box img {
    max-width: 100px;
    margin-bottom: 10px;
}

.service-box h3 {
    margin: 10px 0;
}

.service-box p {
    font-size: 1rem;
    color: black;
}

.service-box a{
  text-decoration: none;
  color: #000000;
}
.services a{
    text-decoration: none;
    color: #000000;
}
.services a:hover{
    opacity: 2;
    color: blueviolet;
}